.single-view {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.completed {
    text-decoration: line-through;
}

button {
    background-color: transparent;
    border: none;
    outline: none;
}